<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexsander.com.br.friendsintown">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FriendsInTownApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUr_4Jt9xboOD8tH7oAukN1jiLV9gtmWw" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ChooseLocationActivity" />
        <activity android:name=".FriendsInTownActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ChooseLocationActivity">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="alexsander.com.br.friendsintown.SearchFriendsActivity" />
        </activity>
        <activity
            android:name=".FriendsRequestActivity"
            android:label="@string/title_activity_friends_request"
            android:parentActivityName=".FriendsInTownActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alexsander.com.br.friendsintown.FriendsInTownActivity" />
        </activity>
        <activity android:name=".SearchFriendsActivity"
            android:parentActivityName=".FriendsInTownActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>